.App {
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.content-container {
  display: flex;
  flex-direction: row;
  
}
.socials {
  position: fixed;
  top: 40%;
  margin-left: 2%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: clear-sans-bold-italic;
  src: url('/public/ClearSans-BoldItalic.ttf');
}

.clear-sans-bold-italic {
  font-family: clear-sans-bold-italic;
}